
<div class="card w-50 m-auto my-5">
    <div class="card-header"><h2>All Students Here</h2></div>
    <a href="/add"><button class="btn btn-primary my-3 mx-3">Add New User</button></a>
    <div class="card-body">
        <table class="table my-5" id="myTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Call</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for( let index = 0; index < stdData.length; index++ ) { %>
                  <tr>
                    <th><%- index+1 %></th>
                    <td><%- stdData[index].name %></td>
                    <td><%- stdData[index].email %></td>
                    <td><%- stdData[index].call %></td>
                    <td><img src="/images/<%- stdData[index].image %> " alt="" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;"></td>
                    <td>
                        <a href="/single/<%- stdData[index].id %>"><button class="btn btn-success">View</button> </a>
                        <a href="/edit/<%- stdData[index].id %>"><button class="btn btn-info">Edit</button> </a>
                            <a class="btn btn-warning" id="deleteBTN" href="/deletestudents/<%- stdData[index].id %>">Delete</a></td>
                  </tr>
              <% } %>
              
              
            </tbody>
          </table>
    </div>
</div>

